.featured {
    /* width: 100%; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
  }
  .featuredItem {
      
    /* flex: 1; */
    margin: 20px;
    width: 33.33%;
    
    background:linear-gradient(to right,navy,rgb(77, 32, 77));
    color: white;
    padding: 30px;
    border-radius: 10px;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 15px -10px orange;
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  }
  .featuredItem:hover{
    background: rgb(73, 177, 247);
  }
  .featuredTitle{
    font-size: 20px;
}
.featuredMoneyContainer{
    margin: 10px 0px;
    display: flex;
    align-items: center;
}
.featuredMoney{
    font-size: 30px;
    font-weight: 600;
}

.featuredMoneyRate{
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.featuredIcon{
    font-size: 14px;
    margin-left: 5px;
    color: orange
}
.featuredIcon:hover{
    color:rgb(21, 255, 0)
}


.featuredIcon.negative{
    color: red;
}

.featuredSub{
    font-size: 15px;
    color: black;
}

