.container{
    background-color:#003366;
    margin:5px;
}
.newUser{
    background-color:#003366;
    margin:5px;
    height: 100vh;
    align-items: center;
}
.enclose{
    display: flex;
    flex-direction: row;
}
.newUserTitle{
    font-weight: 500px;
    font-size: 40px;
    color: white;
}
.newUserForm{
    background-color: rgb(175, 192, 202);
    margin: 50px;
    margin-left: 100px;
    justify-content: center;
    align-items: center;
    padding:20px;  
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.newUserItem {
    width: 400px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-right: 20px;
    justify-content: center;
  }

.newUserItem > label {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 600;
    color: black;
  }

  .newUserGender > input {
    margin-top: 10px;
    height: 20px;
    

  }
  .inputbox{
      height:30px;

  }
  
  .newUserGender>label{
      margin: 10px;
      font-size: 18px;
      color: black;
  }
  
  .newUserSelect{
      height: 40px;
      border-radius: 5px;
  }
  
  .newUserButton{
      width: 200px;
      border: none;
      background:linear-gradient(to right,red,orange);
      color: white;
      padding: 7px 10px;
      font-weight: 600;
      border-radius: 10px;
      margin-top: 30px;
      cursor: pointer;
  }
  