.container{
    background-color:#003366;
    margin:5px;

}
.main{
    display: flex;
    flex-direction: row;
    
}
.home{
     flex:4 ;
     padding: 20px;
} 

 .homeWidget{
    display:flex;
    margin: 20px;
}
.graphh{
    background: linear-gradient(to right ,blue,cyan);
}
@media screen and (max-width:1000px){
    
    
}