.widgetSm{
    flex: 1;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    padding: 20px;
    margin-right: 20px;

}

.widgetSmTitle{
    font-size: 32px;
    font-weight: 600;
    color:white
}
.widgetSmList{
    margin: 0;
    padding: 0;
    list-style: none;

}
.widgetSmImg{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.widgetSmListItem{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 15px;
    align-items: center;
    margin: 20px 0px;
}
.widgetSmUser{
    display: flex;
    flex-direction: column;
}

.widgetSmTittle{
    color:orange;
    font-size: 15px;
}
.widgetSmUsername{
    color:white;
    font-size: 20px;
}
.widgetSmButton{
    display: flex;
    align-items: center;
    border: none;
    border-radius: 10px;
    padding: 7px 10px;
    background-color: #eeeef7;
    color: #555;
    cursor: pointer;
}
.widgetSmIcon{
    font-size: 16px !important;
    margin-right: 5px;
}